.button {
    border: none;
    color: rgba(255, 255, 255, 0.945);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {background-color: #1a91c0;} /* Green */


title{
    color: rgb(7, 103, 141);
    text-align: center;
    text-decoration:rgb(194, 219, 230);
}

h2{
    color: rgb(62, 165, 148);
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
